<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>-后台内容</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/back-file.css" class="css">
</head>

<body>
    <!-- 导航 -->
    <nav class="navbar navbar-default">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">后台管理</a>
                    <!-- 汉堡按钮 -->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#admins">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="admins">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="back-user.html">
                                <span class="glyphicon glyphicon-user"></span> 用户管理</a>
                        </li>
                        <li class="active">
                            <a href="">
                                <span class="glyphicon glyphicon-list-alt"></span> 文件管理</a>
                        </li>
                        <li>
                            <a href="back-count.html">
                                <span class="glyphicon glyphicon-signal"></span> 网站数据统计</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="name">
                                admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="manager-setting.html">
                                        <span class="glyphicon glyphicon-cog"></span> 个人设置</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="logout">
                                <span class="glyphicon glyphicon-off"></span> 退出</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-sm-1"></div>
    </nav>
    <!-- 内容 -->
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-1">
                <nav id="nav1">
                    <ul>
                        <li class="active" id="mcon">
                            <a href="">文件分类</a>
                        </li>
                        <li id="acon">
                            <a href="">文件审核</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="col-sm-10">
                文件分类
                <hr>
                <ul class="nav nav-tabs">
                    <li class="active" id="mcont">
                        <a href="#guan" data-toggle="tab">文件分类</a>
                    </li>
                    <li id="acont">
                        <a href="#adds" data-toggle="tab">文件审核</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- 文件分类 -->
                    <div class="tab-pane active clearfix" id="guan">
                        <!-- 分类详情 -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#doc" data-toggle="tab">文档</a>
                            </li>
                            <li>
                                <a href="#vid" data-toggle="tab">视频</a>
                            </li>
                            <li>
                                <a href="#Img" data-toggle="tab">图片</a>
                            </li>
                            <li>
                                <a href="#Zip" data-toggle="tab">压缩文件</a>
                            </li>
                            <li>
                                <a href="#Other" data-toggle="tab">其他文件</a>
                            </li>
                        </ul>
                        <!-- 分类列表 -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="doc">
                                <table id="document" class="table">
                                    <thead>
                                        <tr>
                                            <th>文件ID</th>
                                            <th>文件名</th>
                                            <th>文件类型</th>
                                            <th>文件大小</th>
                                            <th>下载量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="#">file</a>
                                            </td>
                                            <td>txt</td>
                                            <td>1.2k</td>
                                            <td>10</td>
                                            <td>
                                                <a href="#">删除</a> |
                                                <a href="#">修改</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="vid">
                                <table id="video" class="table">
                                    <thead>
                                        <tr>
                                            <th>文件ID</th>
                                            <th>文件名</th>
                                            <th>文件类型</th>
                                            <th>文件大小</th>
                                            <th>下载量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="#">file</a>
                                            </td>
                                            <td>txt</td>
                                            <td>1.2k</td>
                                            <td>10</td>
                                            <td>
                                                <a href="#">删除</a> |
                                                <a href="#">修改</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="Img">
                                <table id="img" class="table">
                                    <thead>
                                        <tr>
                                            <th>文件ID</th>
                                            <th>文件名</th>
                                            <th>文件类型</th>
                                            <th>文件大小</th>
                                            <th>下载量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="#">file</a>
                                            </td>
                                            <td>txt</td>
                                            <td>1.2k</td>
                                            <td>10</td>
                                            <td>
                                                <a href="#">删除</a> |
                                                <a href="#">修改</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="Zip">
                                <table id="zip" class="table">
                                    <thead>
                                        <tr>
                                            <th>文件ID</th>
                                            <th>文件名</th>
                                            <th>文件类型</th>
                                            <th>文件大小</th>
                                            <th>下载量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="#">file</a>
                                            </td>
                                            <td>txt</td>
                                            <td>1.2k</td>
                                            <td>10</td>
                                            <td>
                                                <a href="#">删除</a> |
                                                <a href="#">修改</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="Other">
                                <table id="other" class="table">
                                    <thead>
                                        <tr>
                                            <th>文件ID</th>
                                            <th>文件名</th>
                                            <th>文件类型</th>
                                            <th>文件大小</th>
                                            <th>下载量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="#">file</a>
                                            </td>
                                            <td>txt</td>
                                            <td>1.2k</td>
                                            <td>10</td>
                                            <td>
                                                <a href="#">删除</a> |
                                                <a href="#">修改</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 分页 -->
                        <ul class="pagination pull-right">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <!--文件审核 -->
                    <div class="tab-pane" id="adds">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>文件名</td>
                                    <td>文件类型</td>
                                    <td>上传者</td>
                                    <td>上传时间</td>
                                    <td>审核状态</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <ul class="pagination pull-right">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="text-center col-sm-6 col-sm-offset-3">
        <p>Copyright@2012-2015 ICP备xxxxxxxx号</p>
    </footer>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>